platform: linux

image_resource:
  type: docker-image

inputs:
- name: gpbackup_ddboost_plugin
- name: bin_gpdb_6x_stable_centos6

outputs:
- name: ddboost_components

run:
  path: bash
  args:
  - -c
  - |
    set -ex
    # Install gpdb binaries
    # This is required because ddboost has a dependency on libpq-fe.h
    mkdir -p /usr/local/greenplum-db-devel
    tar -xzf bin_gpdb_6x_stable_centos6/*.tar.gz -C /usr/local/greenplum-db-devel
    source /usr/local/greenplum-db-devel/greenplum_path.sh

    # build ddboost plugin
    pushd gpbackup_ddboost_plugin
      make build
      ddboost_plugin_version=`git describe --tags | perl -pe 's/(.*)-([0-9]*)-(g[0-9a-f]*)/\1+dev.\2.\3/'`
    popd

    echo ${ddboost_plugin_version} > ddboost_components/ddboost_plugin_version
    cp gpbackup_ddboost_plugin/gpbackup_ddboost_plugin ddboost_components/
    cp gpbackup_ddboost_plugin/DDBoostSDK/lib/release/linux/64/libDDBoost.so ddboost_components/
