
PLATFORM: linux

image_resource:
  type: docker-image
  source:
    repository: pivotaldata/centos-gpdb-dev
    tag: '6-gcc6.2-llvm3.7'

inputs:
- name: gpbackup
  path: go/src/github.com/greenplum-db/gpbackup
- name: ccp_src
- name: cluster_env_files
- name: gpbackup-dependencies

run:
  path: bash
  args:
  - -c
  - |
    set -ex

    ccp_src/scripts/setup_ssh_to_cluster.sh

    cat <<SCRIPT > /tmp/setup_centos_env.bash
    set -ex
        cat << ENV_SCRIPT > env.sh
        export GOPATH=/home/gpadmin/go
        source /usr/local/greenplum-db-devel/greenplum_path.sh
        export PGPORT=5432
        export MASTER_DATA_DIRECTORY=/data/gpdata/master/gpseg-1
        export PATH=\\\$GOPATH/bin:/usr/local/go/bin:\\\$PATH
    ENV_SCRIPT

    export GOPATH=/home/gpadmin/go
    chown gpadmin:gpadmin -R \$GOPATH
    chmod +x env.sh
    source env.sh
    gpconfig --skipvalidation -c fsync -v off
    gpstop -u

    tar -zxf gpbackup-dependencies/dependencies.tar.gz -C \$GOPATH/src/github.com

    pushd \$GOPATH/src/github.com/greenplum-db/gpbackup
        make depend
    popd
    SCRIPT

    ssh -t centos@mdw "sudo yum -y install git && wget https://storage.googleapis.com/golang/go1.12.7.linux-amd64.tar.gz && tar -xzf go1.12.7.linux-amd64.tar.gz && sudo mv go /usr/local"
    chmod +x /tmp/setup_centos_env.bash
    rsync -a gpbackup-dependencies mdw:/home/gpadmin
    scp /tmp/setup_centos_env.bash mdw:/home/gpadmin/setup_centos_env.bash
    ssh -t mdw "mkdir -p /home/gpadmin/go/src/github.com/greenplum-db"
    scp -r -q go/src/github.com/greenplum-db/gpbackup mdw:/home/gpadmin/go/src/github.com/greenplum-db/gpbackup
    ssh -t mdw "bash /home/gpadmin/setup_centos_env.bash"
